
body {
    font-family: "Lato", sans-serif;
    margin: 20px 30px;
    background-color: #F7F7F7;
}


.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(51, 51, 51);
    color: white;
    padding: 10px;
}


/* Style for the content */
.content {
    padding-top: 100px; /* Adjust this value to match the height of your header */
    padding-left: 20px; /* Add some left padding for better alignment */
    padding-right: 20px; /* Add some right padding for better alignment */
    box-sizing: border-box; /* Ensure padding doesn't affect overall width */
}

/* Style for the navigation links */
.nav {
    display: flex;
    align-items: center;
}
.nav-link {
    text-decoration: none;
    color: white;
    font-size: 16px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover {
    background-color: white;
    color: #333;
}



.header-emoji {
    font-size: 48px;
    margin: 0 auto;
    text-align: center;
}

.header-title {
    font-size: 24px;
    margin-right: 20px;
}

.header .header-title {
    color: #FFFFFF;
    font-size: 48px;
    text-align: center;
    margin: 10px 20px;
}

.header-description {
    color: #CFCFCF;
    margin: 4px auto;
    text-align: center;
    max-width: 384px;
}

.wrapper {
    margin-right: auto;
    margin-left: auto;
    max-width: 1024px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 32px;
}

.card {
    margin-bottom: 24px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}


/* your-styles.css */

/* Style for the dropdown */
/* your-styles.css */

/* Style for the dropdown container */
.dropdown-container {
    /* height: 112px; */
    /* width: 912px; */
    display: flex;
    justify-content: space-evenly;
    padding-top: 24px;
    /* margin: -80px auto 0 auto; */
    background-color: #FFFFFF;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.18);
}

/* Style for the dropdown label */
.dropdown-label {
    font-size: 16px;
    margin-right: 10px;
}

/* Style for the dropdowns */
.dropdown {
    width: 150px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 8px;
    font-size: 14px;
    color: #333;
    cursor: pointer;
}

/* Style for the dropdown options */
.dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: none;
}

.dropdown:hover .dropdown-options {
    display: block;
}

.dropdown-option {
    padding: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.dropdown-option:hover {
    background-color: #f0f0f0;
}
